@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --text-color: #41414A;
  --font-family: Inter, sans-serif;
  --background: #F6E652;
  --button-bg-color: #C52018;
  --border-radius: 8px;
  --spacing: 1.5rem;
  --transition: 0.1s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.5;
}

body {
  background: #F6E652;
  color: #41414A;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
  color: #41414A;
  line-height: 1.2;
}

p {
  line-height: 1.6;
}

a {
  color: #41414A;
  text-decoration: none;
  transition: var(--transition);
}
a:hover {
  color: rgb(112.6978417266, 112.6978417266, 128.3021582734);
}

header h1 {
  text-align: center;
}

#search-input {
  width: 100%;
  padding: 0.375rem;
  border: 1px solid #9B5200;
  border-radius: var(--border-radius);
  background-color: white;
  color: #41414A;
  font-size: 1rem;
  transition: var(--transition);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#search-input:focus {
  outline: none;
  border-color: #C52018;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button, .btn {
  width: auto;
  background-color: #C52018;
  color: white;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: var(--transition);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
button:hover, .btn:hover {
  background-color: rgb(222.7615384615, 36.1846153846, 27.1384615385);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
button:active, .btn:active {
  background-color: rgb(177.3, 28.8, 21.6);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: var(--transition);
}

main {
  min-height: 100vh;
  width: 100%;
  padding: 1.5rem;
  background-color: #F6E652;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
  width: 20rem;
  box-sizing: border-box;
}
.input-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.5rem 2.25rem;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.input-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.5rem;
}
.input-container input [type=text] {
  margin-bottom: 1.5rem;
}
.input-container button {
  width: 80%;
  margin: 0.75rem auto;
  border-radius: 2rem;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 26rem;
  background: rgb(239, 243, 243);
  color: #41414A;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0;
  margin: 1.5rem auto;
  text-align: center;
  border-radius: var(--border-radius);
  border: #000000 5px solid;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
}
.stats-container span {
  padding: 0.6rem 0;
  border: 5px solid black;
}

.sprite-container {
  display: block;
  width: 20rem;
  margin: 1.5rem auto;
}
.sprite-container img {
  display: block;
  width: 15rem;
  margin: auto;
}

#types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
  font: 500 1.2rem "Inter", sans-serif;
}

.normal-type {
  background-color: #A8A77A;
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(122.7227272727, 121.8, 80.2772727273);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.fire-type {
  background-color: #EE8130;
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(185.00625, 87.5875, 15.19375);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.water-type {
  background-color: #6390F0;
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(20.8157894737, 83.2631578947, 216.4842105263);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.electric-type {
  background-color: #F7D02C;
  color: black;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(196.2589041096, 159.9835616438, 7.4410958904);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.grass-type {
  background-color: #7AC74C;
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(83.5531914894, 146.6276595745, 45.8723404255);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.ice-type {
  background-color: #96D9D6;
  color: black;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(69.1573426573, 187.7426573427, 182.4328671329);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.fighting-type {
  background-color: #C22E28;
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(135.8, 32.2, 28);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.poison-type {
  background-color: #A33EA1;
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(114.1, 43.4, 112.7);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.ground-type {
  background-color: #E2BF65;
  color: black;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(192.6262295082, 148.8475409836, 36.2737704918);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.flying-type {
  background-color: #A98FF3;
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(88.6870967742, 38.4064516129, 231.7935483871);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.psychic-type {
  background-color: #F95587;
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(225.8295454545, 7.9704545455, 74.3909090909);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.bug-type {
  background-color: #A6B91A;
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(116.2, 129.5, 18.2);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.rock-type {
  background-color: #B6A136;
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(127.4, 112.7, 37.8);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.ghost-type {
  background-color: #735797;
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(80.5, 60.9, 105.7);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.dragon-type {
  background-color: #6F35FC;
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(63.5292682927, 3.1243902439, 210.3756097561);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.dark-type {
  background-color: #705746;
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(78.4, 60.9, 49);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.fairy-type {
  background-color: #D685AD;
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: calc(var(--border-radius) * 1.2);
  border: 1px solid rgb(181.8024539877, 61.0975460123, 120.7049079755);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: default;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.hidden {
  transition: var(--transition);
  opacity: 0;
}

.rotate {
  animation: rotate 400ms linear infinite;
}

@media (max-width: 768px) {
  .sprite-container {
    width: 90%;
  }
  .sprite-container .sprite {
    width: 45.7%;
  }
  .stats-container {
    width: 90%;
    max-width: 100%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
